body, .map-popup {font-family:'Lato', 'sans-serif';}
main {padding-top: 40px;}
.navbar-default .navbar-nav>li>a.active {color:#df691a;}

#splash {position:fixed; z-index:1080;}
#splash-img {
  position:fixed; height:100%; width:100%; z-index:1040;
  background: url('/img/splash_640.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#splash-content {
  position:fixed; height:100%; width:100%; z-index:1050;
  background-color: rgba(42,63,80,.8);
}
#splash-content #revolution {
  text-align:right;
  position:fixed;
  bottom:20px;
  right:20px;
  font-weight:300;
  font-size:18px;
}
#revlogo {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -160px;
  margin-left: -160px;
}

#map {height:100%; position:fixed; top:100px; left:33.3333333%; padding-left:0;}
.mapboxgl-popup {color:#1a1818;}
.mapboxgl-ctrl-compass {display:none !important;}
.map-popup .heading {font-weight:300;}

.c2 {font-style:italic;}  /* from Google Docs */
.text-meta {color:#c2fbd5!important;}
.big.badge {font-size:24px; font-weight:400; padding:5px 9px; border-radius:20px;}
.headspace {margin-top:22px;}

#sidebar {
  position:fixed; top:100px; left:0; z-index:1; height:100%;
  background-color:#2b3e50; overflow:auto; padding-bottom:100px;
}
#filter-btn {margin-top:15px;}
#filters {padding:1em 0 0.5em 0; margin:0 15px; background-color:#272727;}
#filters .sortbylabel {padding-top:5px;}
#filters .filter-labels {padding-right:7px;}
#filters .filter-values {padding-left:8px;}
.list-nav {margin:15px 0 0;}
#filter-row {background-color:#272727; padding-top:11px;}
.chosen-container {width:130px;}
.chosen-container-single .chosen-single.override {padding:0;}

.marker {font-size:72px; margin-top:27px;}
span.unselected-item {color:#943b2b; opacity:0.8;}
span.selected-item {color:#2acd2c; opacity:0.8;}
img.drum-thumb, img.law-thumb {width:108px; height:72px; float:left; object-fit:cover;}
.drum-details, .law-details {margin-left:122px;}
.indent {font-family: 'icomoon';}
.indent:before {content: "\e5da"; float:left; font-size:18px; margin-top:1px;}
.indent .drum-details {font-family:'Lato', 'sans-serif'; margin-left:152px;}
.indent img {margin-left:12px;}

.drum-item-header img {padding-top:15px;}
.year-list-shadow, .law-citation-shadow {display:none;}
.list-group-item-para {margin-bottom:5px;}

#law-modal {display:none;}
#law-viewer {width:100%; height:700px;}

footer {margin-top:4em;}
footer .well {margin-bottom:0;}

/* Custom icons via icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?oebxwi');
  src:  url('/fonts/icomoon.eot?oebxwi#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?oebxwi') format('truetype'),
    url('/fonts/icomoon.woff?oebxwi') format('woff'),
    url('/fonts/icomoon.svg?oebxwi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-subdirectory_arrow_right:before {
  content: "\e5da";
}
.icon-circle:before {
  content: "\f111";
}
.icon-filter:before {
  content: "\e900";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-volume-high:before {
  content: "\ea26";
}
